<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
<head>
    <title>PMD</title>
    </title>
    <link type="text/css" rel="stylesheet" href="../stylesheet/create.css">
    <script type="text/javascript">
        var count=0;
        function user_append() {      
            var new_name = document.getElementById("user_id").value;     
            //디비 들어가서 검색해야함//
            console.log(new_name);       
            var att = document.getElementById("att").value;
            var table=document.getElementById("member");
            var table_len=(table.rows.length);
            var check = document.getElementById("att");
            var userDiv = document.getElementById("user");
            var text="";
            if (check.checked){ // PM을 추가할 경우
                text = "PM";
                //console.log(text);
                var row = table.insertRow(table_len).innerHTML="<tr name='join"+table_len+"'><td>"+new_name+"</td><td>"+text+"</td></tr>";
                userDiv.innerHTML +="<input type = 'hidden' name='pm_id' value="+new_name+">"
            }
            else {  // 일반 user를 추가할 경우
                //console.log(text);
                var row = table.insertRow(table_len).innerHTML="<tr name='join"+table_len+"'><td>"+new_name+"</td><td>"+text+"</td></tr>";
                userDiv.innerHTML +="<input type = 'hidden' name='user_id' value="+new_name+">"
            }
            document.getElementById("user_id").value = " ";
            document.getElementById("att").checked = false;
        }
    </script>
 </head>
 <body>
    <article>
        <form action = "/project/create" method="POST" id="create_proj">
            <input type = "hidden" name="mgr_id" value= "<%= useremail %>">
                <div>
                    프로젝트 이름 : <input type="text" name="title" value=""> 
                </div>
                <div>
                    시작 날짜 : <input type="date" name="start_date" value="">
                    <p style="float:right">종료 날짜 : <input type="date" name="end_date" value=""></p>
                </div>      
                <div>
                    프로젝트 설명 : <br>
                    <textarea name = "desc" id="t_area" rows = "10" cols="50" WRAP = "PHYSICAL" >  </textarea>
                    &nbsp;
                    &nbsp;
                    <table id ="member" name="p_join">
                        <tr><th colspan="2">참가자</th></tr>                   
                    </table>
                </div>
                <div>
                    참여할 팀원 : <input type="text" id="user_id" placeholder="팀원 이름">
                     &nbsp; 
                     <input id="att" type="checkbox">PM&nbsp;
                     <input id="append" type="button" onclick="user_append()" value="추가">
                </div>
                <div id="user"> </div>  <!-- user_id input hidden 태그 들어감 -->
                <input type="submit" id="submit" value="생성">                   
        </form>
        
        </article>
        <!--<footer>
            <a href="javascript:history.back()" style="margin-left: 2.5%;"><button>뒤로가기</button></a>
        </footer>
        -->
        <script>
            var msg = JSON.parse('<%-admit%>');
            console.log(msg);
        </script>
    </body>
 </html>
