<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
<head>
    <title>PMD</title>
    <link type="text/css" rel="stylesheet" href="stylesheet/main.css">
    <script type="text/javascript">
    var user_name = 
    </script>
 </head>
<body>
<br>
<header>    
    <p><strong>&nbsp;&nbsp;프로젝트 생성</strong>
        <small><input id = "logout_btn" type="button" value="로그아웃" onclick="location.href = '/'"></small>
    </p>
    
</header>
<br>
<table id="customers">
  <tr>
    <th>프로젝트 명</th>
    <th>진행률</th>
    <th>시작일</th>
    <th>종료일</th>
    <th>비고</th>
  </tr>
  <tr id = "no.1" onclick="location.href='/'"><!---각 행마다 해당 프로젝트로 가는 링크 걸 예정--->
        <td>이렇게</td>
        <td>적당히</td>
        <td>내용이</td>
        <td>들어갈</td>
        <td>겁니다.</td>   
  </tr>
  <tr id = "no.2">    
    <td>&nbsp;</td>
    <td>&nbsp; </td>
    <td>&nbsp; </td>
    <td>&nbsp;</td>
    <td>&nbsp; </td>   
    </tr>
    <tr id = "no.3">    
        <td>&nbsp;</td>
        <td>&nbsp; </td>
        <td>&nbsp; </td>
        <td>&nbsp;</td>
        <td>&nbsp; </td>   
    </tr>
    <tr id = "no.4">    
        <td>&nbsp;</td>
        <td>&nbsp; </td>
        <td>&nbsp; </td>
        <td>&nbsp;</td>
        <td>&nbsp; </td>   
    </tr>
    <tr id = "no.5">    
        <td>&nbsp;</td>
        <td>&nbsp; </td>
        <td>&nbsp; </td>
        <td>&nbsp;</td>
        <td>&nbsp; </td>   
    </tr>
    <tr id = "no.6">    
        <td>&nbsp;</td>
        <td>&nbsp; </td>
        <td>&nbsp; </td>
        <td>&nbsp;</td>
        <td>&nbsp; </td>   
    </tr>
    <tr id = "no.7">    
        <td>&nbsp;</td>
        <td>&nbsp; </td>
        <td>&nbsp; </td>
        <td>&nbsp;</td>
        <td>&nbsp; </td>   
    </tr>
    <tr id = "no.8">    
        <td>&nbsp;</td>
        <td>&nbsp; </td>
        <td>&nbsp; </td>
        <td>&nbsp;</td>
        <td>&nbsp; </td>   
    </tr>
    <tr id = "no.9">    
        <td>&nbsp;</td>
        <td>&nbsp; </td>
        <td>&nbsp; </td>
        <td>&nbsp;</td>
        <td>&nbsp; </td>   
    </tr>
    <tr id = "no.10">    
        <td>&nbsp;</td>
        <td>&nbsp; </td>
        <td>&nbsp; </td>
        <td>&nbsp;</td>
        <td>&nbsp; </td>   
    </tr>


    
</table>
<br>
<footer>
    <form action="/create_task" method="GET"><input id = "make_pro" type="submit" value="프로젝트 생성"></form>
</footer>
<script>

</script>
</body>
</html>
