<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
<head>
    <title>PMD</title>
    </title>
    <link type="text/css" rel="stylesheet" href="stylesheet/create.css">
    <script type="text/javascript">
        var count=0;
        function user_append( div_id ) {      
            var added_div = document.getElementById(div_id);
            var str= "<input type='text' name='user_id'>"
            var p="<p></p>";
            var added_input = document.createElement("input");
            var added_p = document.createElement("p");
            added_input.id = "added_" + count;
            added_input.name = "user_id";
            added_input.placeholder="팀원 이름";
            added_input.className="added"
            added_input.innerHTML = str;
            added_div.append(added_p);
            added_div.appendChild(added_input);

            count++;
        }
    </script>
 </head>
<body>
    <header>프로젝트 생성</header>
    <hr id="hr_title">
    <form action = "/project/create" method="POST">
            <div>
                프로젝트 이름 : <input type="text" name="title" value=""> 
            </div>
            <div>
                시작 날짜 : <input type="date" name="start_date" value="">
                종료 날짜 : <input type="date" name="end_date" value="">
            </div>      

            <div>
                프로젝트 설명 : <br>
                <textarea rows = "10" cols="100">  </textarea> 
            </div>
            <div id="user">
                참여할 팀원 : <input type="text" name="user_id" placeholder="팀원 이름">
                 &nbsp; <input type="button" onclick="user_append('user')" value="추가">
            </div>
            
                <input type="submit" id="submit" value="생성">
    </form>
</body>
 </html>
