<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="../stylesheet/vendor/jquery/jquery.min.js"></script>
<script src="../stylesheet/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
 
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
<head>
    <title>PMD</title>
    <link type="text/css" rel="stylesheet" href="../stylesheet/table.css">
    <script type="text/javascript">
		
		</script>
 </head>
<body>  
  <table id="customers">
    <tr id ="title">
      <th>프로젝트 명</th>
      <th>진행률</th>
      <th>시작일</th>
      <th>종료일</th>
      <th>비고</th>
    </tr>
    
</table>
<form name="myform" >
  <input type="hidden" name="proj_name" id="proj_name">
  <input type="hidden" name="proj_prog" id="proj_prog">
  <input type="hidden" name="proj_start" id="proj_start">
  <input type="hidden" name="proj_end" id="proj_end">
  <input type="hidden" name="proj_desc" id="proj_desc">
</form>
<script type="text/javascript">
  var project = JSON.parse('<%- pro %>');
  var size = Number('<%= len %>');    
  //console.log(typeof(size));  
  var today = new Date();
  var date = new Date();
  var table=document.getElementById("customers"); 
  var table_len=(table.rows.length);
  var ary = new Array();
  
  for(var i=0;i<size;i++) 
  {
    console.log(table_len);
    var proj = project[i];
    console.log(proj);
    //var year = project[i].PROJ_END.substring(0,4);
    //var month = project[i].PROJ_END.substring(5,7);
    //var day = project[i].PROJ_END.substring(8,10);
    //console.log(year+" "+month+" "+day);
    //
    var startDate = new Date(proj.PROJ_START);
    var year = startDate.getFullYear();
    var month = startDate.getMonth();
    var day = startDate.getDate();
    var startDateToStr = year + "-" +
                         (( (month+1) < 10) ? "0"+ (month+1) : month+1) + "-" + 
                         (( (day) < 10) ? "0"+ (day) : day);
    console.log(startDateToStr);

    var endDate = new Date(proj.PROJ_END);
    year = endDate.getFullYear();
    month = endDate.getMonth();
    day = endDate.getDate();
    endDate = new Date(year, month, day, 23, 59, 59); // 종료일 오후 11시 59분 59초로 변경
    var endDateToStr = year + "-" + 
                          (( (month+1) < 10 ) ? "0"+ (month+1) : month+1) + "-" + 
                          (( (day) < 10) ? "0"+ (day) : day);
    console.log(endDateToStr);

    //console.log(d.getFullYear());
    //console.log(d.getMonth());
    //console.log(d.getDate());
    console.log(startDate);
    console.log(endDate); 
    //

    //console.log(date.getTime());
    
    
      var table_len=(table.rows.length);
      var row = table.insertRow(table_len);
      var col0= row.insertCell(0).innerHTML="<td>"+proj.PROJ_NAME+"</td>";
      var col1= row.insertCell(1).innerHTML="<td>"+proj.PROJ_PROGRESS+"</td>";
      //var col2= row.insertCell(2).innerHTML="<td>"+proj.PROJ_START.substring(0,10)+"</td>";
      //var col3= row.insertCell(3).innerHTML="<td>"+proj.PROJ_END.substring(0,10)+"</td>";
      var col2= row.insertCell(2).innerHTML="<td>"+startDateToStr+"</td>";
      var col3= row.insertCell(3).innerHTML="<td>"+endDateToStr+"</td>";
      var col4= row.insertCell(4).innerHTML="<td>"+proj.PROJ_DESC+"</td>";
      var obj = new Object();
      obj.proj_name = proj.PROJ_NAME;
      obj.proj_prog = proj.PROJ_PROGRESS;
      obj.proj_start = proj.PROJ_START.substring(0,10);
      obj.proj_end = proj.PROJ_END.substring(0,10);
      obj.proj_desc = proj.PROJ_DESC;
      ary.push(obj);
      row.id = table_len;
      //console.log(row);
   

    $(document).ready(function(){
      $('tr').off('click').on('click',function(){
      var target =  $(this).attr('id');
      var index = Number(target);      
      
      if(target != "title"){
        var popform=document.myform;
     
        $("#proj_name").attr("value",ary[index-1].proj_name);
        $("#proj_prog").attr("value",ary[index-1].proj_prog+"%"+" (완료)");
        $("#proj_start").attr("value",ary[index-1].proj_start);
        $("#proj_end").attr("value",ary[index-1].proj_end);
        $("#proj_desc").attr("value",ary[index-1].proj_desc);
        var openWin = window.open("/projPage", "myform", "width=520,height=350,top=200,left=500");
        console.log('index : ' + index);
        console.log(ary[index-1].proj_name); 
       
        return;
      }
    })

    })
    
    
   // console.log(table);
    
   
   } 
  </script>
</body>
</html>
