<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
<head>
    <title>PMD</title>
    <link type="text/css" rel="stylesheet" href="../stylesheet/main.css">
    
 </head>
<body>
<br>
<header>    
    <p><strong>&nbsp;&nbsp;프로젝트 목록</strong>
        <small><span style="float: right;"><%= username %>님 환영합니다.&nbsp;<input id = "logout_btn" type="button" value="로그아웃" onclick="location.href = '/'"></span></small>
    </p>
    
</header>
<br>
<iframe src="http://52.55.31.29:3000/table" id="customers" scrolling="auto" frameborder="0" width="95%" height="70%">
</iframe>
<br>
<br>
<br>
<footer>
    <input id = "make_pro" type="button" value="프로젝트 생성" onclick="location.href = '/create'">
    &nbsp;&nbsp;
    <input id = "search_pro" type="button" value="프로젝트 검색" onclick="location.href = '/search'">
</footer>
<script>

</script>
</body>
</html>
