<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="../stylesheet/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
<head>
    <title>PMD</title>
      <style>
         
        #box{        
            margin-left: 3%;
            margin-right:3%;
            width:94%;
            height:90%;           
        }
        #proj_desc{
            width: 100%;
            resize: none;
            height:30%;
        }
        #info_link{
            border-bottom:none;
        }
      </style>
 </head>
<body>
   
<form name="myform">
    <br>
    <div id="box">
        <p>프로젝트명:&nbsp;<input type="text" name="proj_name" id="proj_name" value="name" readonly><a id="setting" style="float:right;cursor: pointer;"><i class="fas fa-users-cog fa-3x"></i></a></p>
        <p>진행률:&nbsp;<input type="text" name="proj_prog" id="proj_prog" value="prog" readonly></p>
        <p>시작일:&nbsp;<input type="text" name="proj_start" id="proj_start" value="start" readonly></p>
        <p>종료일:&nbsp;<input type="text" name="proj_end" id="proj_end" value="end" readonly></p>
        <p>비고:&nbsp;<textarea name="proj_desc" id="proj_desc" readonly></textarea></p>
        
    </div>
    
</form>
<script>
   $(document).ready(function(){
    document.myform.proj_name.value = window.opener.document.myform.proj_name.value;
    document.myform.proj_prog.value = window.opener.document.myform.proj_prog.value;
    document.myform.proj_start.value = window.opener.document.myform.proj_start.value;
    document.myform.proj_end.value = window.opener.document.myform.proj_end.value;
    $("#proj_desc").html(window.opener.document.myform.proj_desc.value);

    $("#setting").off("click").on("click",function(){
        
    })
   })
</script>

</body>
</html>
