<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="../stylesheet/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>

<head>
    <title>PMD</title>
    <style>
        #proj_desc {
            width: 100%;
            resize: none;
            height: 50%;
        }

        #info_link {
            border-bottom: 0;
        }
        table {
            border: black solid 1px;
            width: 100%;
            height: 85%;
            margin-bottom: 2px;
        }

        table tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        table td:hover {
            cursor: pointer;
            background-color: #ddd;
        }

        input {
            border: none;
        }
    </style>
</head>

<body>
    <input type="hidden" id="flag" value="false">
    <div class="container" id="info">
        <nav class="navbar fixed-top navbar-dark bg-primary">
            <a href="#info" style="color:white!important;text-decoration: none!important;"><i class="fas fa-info-circle fa-2x"></i>정보</a>&nbsp;&nbsp;
            <a href="#work" style="color:white!important;text-decoration: none!important;"><i class="fas fa-network-wired fa-2x"></i>작업</a>&nbsp;&nbsp;
            <a id="back" style="color:white; cursor:pointer"><i class="fas fa-arrow-circle-left fa-2x"></i>뒤로가기</a>&nbsp;
        </nav>
        <br>
        <br>
        <br>
        <form name="myform">
            <br>
            <p>프로젝트명:&nbsp;<input type="text" name="proj_name" id="proj_name" value="name" readonly><a id="setting"
                    style="float:right;cursor: pointer;"><i class="fas fa-users-cog fa-3x"></i>수정</a>
            </p>
            <p>진행률:&nbsp;<input type="text" name="proj_prog" id="proj_prog" value="prog" style="width: 20px;" readonly>%
            </p>
            <p>시작일:&nbsp;<input type="text" name="proj_start" id="proj_start" value="start" readonly></p>
            <p>종료일:&nbsp;<input type="text" name="proj_end" id="proj_end" value="end" readonly></p>
            <p>비고:&nbsp;<textarea name="proj_desc" id="proj_desc" readonly></textarea></p>
        
        <input type="hidden" name="proj_user" id="proj_user">
        <input type="hidden" name="proj_id" id="proj_id">
    </form>
    
    </div>
  <br>
  
    <div class="container" id="work">
        <!--   
        <div style="float:right;">
            <a href="#info" style="color:black!important;text-decoration: none!important;"><i class="fas fa-info-circle fa-2x"></i>정보</a>&nbsp;&nbsp;
            <a href="#work" style="color:black!important;text-decoration: none!important;"><i class="fas fa-network-wired fa-2x"></i>작업</a>&nbsp;&nbsp;
            <a id="back" style="cursor:pointer"><i class="fas fa-arrow-circle-left fa-2x"></i>뒤로가기</a>&nbsp;
        </div>--> 
        <br>
    <table border="1">
        <tr>
            <td>JOB1</td>
            <td>JOB2</td>
            <td>JOB3</td>
        </tr>
        <tr>
            <td>
                JOB1-task1
            </td>         
            <td>
                JOB2-task1
            </td>  
            <td>
                JOB3-task1
            </td>  
        </tr>
        <tr>
            <td>
                JOB1-task2
            </td>           
            <td>
                JOB2-task2
            </td>  
            <td>
                JOB3-task3
            </td>  
        </tr>
        <tr>
            <td>
                JOB1-task3
            </td>  
            <td>
               
            </td>  
            <td>
                JOB3-task3
            </td>  
                     
        </tr>
        </table>

            <a id="insert_job" class="btn btn-outline-secondary btn-block" role="button">추가</a>
    
   
    </div>


    <script>
        $(document).ready(function () {
            //
            // pm 정보 받아오기: pm 변수에 저장
            //

            var proj = JSON.parse('<%- proj %>');

            var username = '<%- user%>';

            var pm = JSON.parse('<%- isPM %>');
            pm = pm[0].ISPM;

            if (pm == true) {
                console.log("pm입니다");
            }
            else {
                console.log("pm이 아닙니다");
            }

            var proj_name = $("#proj_name");
            var proj_prog = $("#proj_prog");
            var proj_start = $("#proj_start");
            var proj_end = $("#proj_end");
            var proj_desc = $("#proj_desc");
            var proj_id = $("#proj_id");
            var proj_user = $("#proj_user");

            proj_name.attr("value", proj.proj_name);
            proj_id.attr("value", proj.proj_id);
            proj_prog.attr("value", proj.proj_prog);
            proj_start.attr("value", proj.proj_start);
            proj_end.attr("value", proj.proj_end);
            proj_desc.html(proj.proj_desc);
            proj_id.attr("value", proj.proj_id);
            proj_user.attr("value", proj.proj_user);
            //뒤로가기
            $("#back").off("click").on("click", function (){
                var propage = $(top.document).find("#customers");
                propage.attr("src","http://52.55.31.29:3000/table");
            
            })
            //프로젝트 정보 수정
            $("#setting").off("click").on("click", function () {
                var flag = $("#flag");
                //프로젝트 pm인지 판별 해야함
                if (pm == false) {
                    alert("수정할 권한이 없습니다.");
                }
                else {
                    if (flag.attr("value") == "false") {
                        
                        $("#setting").html('<i class="fas fa-users-cog fa-3x"></i>완료');
                        $("input").attr("readonly", false);
                        $("#proj_prog").attr("readonly", true);
                        $("textarea").attr("readonly", false);
                        $("#setting").css("color", "red");
                        $("#proj_name").focus();
                        flag.attr("value", "true");

                        //수정한 내용 서버로 보내야함
                    } else {
                        $("#setting").html('<i class="fas fa-users-cog fa-3x"></i>수정');
                        $("input").attr("readonly", true);
                        $("textarea").attr("readonly", true);
                        $("#setting").css("color", "black");
                        flag.attr("value", "false");

                        document.myform.action = "/projPage/update/projInfo"
                        document.myform.method = "POST";
                        document.myform.submit();
                    }
                }



            })



            $("#insert_job").off("click").on("click", async function () {

                const { value: new_job } = await Swal.fire({
                    title: 'Input new JOB',
                    input: 'text',
                })

                if (new_job) {
                    const { value: formValues } = await Swal.fire({
                        title: 'setting date',
                        html:
                            '시작날짜 <input id="swal-input1"  type="date"><br>' +
                            '종료날짜 <input id="swal-input2"  type="date">',
                        focusConfirm: false,
                        preConfirm: () => {
                            return [
                                document.getElementById('swal-input1').value,
                                document.getElementById('swal-input2').value
                            ]
                        }
                    })

                    if (formValues) {
                        const { value: info } = await Swal.fire({
                            input: 'textarea',
                            inputPlaceholder: 'Type your message here...',
                            inputAttributes: {
                                'aria-label': 'Type your message here'
                            },
                            showCancelButton: true
                        })

                        const { value: file } = await Swal.fire({
                            title: 'Select image',
                            input: 'file',
                            showCancelButton: true,
                            inputAttributes: {
                                'accept': 'image/hwp/doc/pdf*',
                                'aria-label': 'Upload your profile picture'
                            }
                        })
                        var table = $("#job");

                        var table_len = $("#job tr").length;

                        $("#job").append("<tr><td id='" + table_len + "'>" + new_job + "</td></tr>");
                    }
                }

            })

            $("#insert_task").off("click").on("click", async function () {

                ///select에 들어갈 job 넣을 변수///
                var inputOptions = {}; // Define like this!

                // Instead of sample variables,
                // your data handling here

                var vREGISTRY_ID = "JOB1";
                var vACCOUNT_NAME = "JOB1";



                // Add the Variables like this
                // This will create '500' : 'Peter',
                inputOptions[vREGISTRY_ID] = vACCOUNT_NAME;
                inputOptions["JOB2"] = "JOB2";


                const { value: select_job } = await Swal.fire({
                    title: 'Select JOB',
                    input: 'select',
                    inputOptions: inputOptions,
                    inputPlaceholder: 'Select a JOB',
                    showCancelButton: true,
                    inputValidator: (value) => {
                        return new Promise((resolve) => {
                            resolve()
                        })
                    }
                })

                if (select_job) {

                    const { value: new_task } = await Swal.fire({
                        title: 'Input new TASK',
                        input: 'text',
                    })
                    if (new_task) {
                        // Swal.fire(JSON.stringify(formValues))
                        const { value: formValues } = await Swal.fire({
                            title: 'setting date',
                            html:
                                '시작날짜 <input id="swal-input1"  type="date"><br>' +
                                '종료날짜 <input id="swal-input2"  type="date">',
                            focusConfirm: false,
                            preConfirm: () => {
                                return [
                                    document.getElementById('swal-input1').value,
                                    document.getElementById('swal-input2').value
                                ]
                            }
                        })

                        if (formValues) {
                            const { value: info } = await Swal.fire({
                                input: 'textarea',
                                inputPlaceholder: 'Type your message here...',
                                inputAttributes: {
                                    'aria-label': 'Type your message here'
                                },
                                showCancelButton: true
                            })

                            const { value: file } = await Swal.fire({
                                title: 'Select image',
                                input: 'file',
                                showCancelButton: true,
                                inputAttributes: {
                                    'accept': 'image/hwp/doc/pdf*',
                                    'aria-label': 'Upload your profile picture'
                                }
                            })
                            var table = $("#task");

                            var table_len = $("#task tr").length;

                            $("#task").append("<tr><td id='" + table_len + "'>" + new_task + "</td></tr>");
                        }
                        console.log(select_job);
                        console.log(new_task);
                    }
                }




            })

            $("#insert_activity").off("click").on("click", async function () {

                ///select에 들어갈 job 넣을 변수///
                var inputOptions = {}; // Define like this!

                // Instead of sample variables,
                // your data handling here

                var vREGISTRY_ID = "TASK1";
                var vACCOUNT_NAME = "TASK1";



                // Add the Variables like this
                // This will create '500' : 'Peter',
                inputOptions[vREGISTRY_ID] = vACCOUNT_NAME;
                inputOptions["TASK2"] = "TASK2";


                const { value: select_task } = await Swal.fire({
                    title: 'Select TASK',
                    input: 'select',
                    inputOptions: inputOptions,
                    inputPlaceholder: 'Select a TASK',
                    showCancelButton: true,
                    inputValidator: (value) => {
                        return new Promise((resolve) => {
                            resolve()
                        })
                    }
                })

                if (select_task) {

                    const { value: new_activity } = await Swal.fire({
                        title: 'Input new activity',
                        input: 'text',
                    })
                    if (new_activity) {
                        const { value: formValues } = await Swal.fire({
                            title: 'Multiple inputs',
                            html:
                                '시작날짜 <input id="swal-input1"  type="date"><br>' +
                                '종료날짜 <input id="swal-input2"  type="date">',
                            focusConfirm: false,
                            preConfirm: () => {
                                return [
                                    document.getElementById('swal-input1').value,
                                    document.getElementById('swal-input2').value
                                ]
                            }
                        })

                        if (formValues) {



                            const { value: importance } = await Swal.fire({
                                title: 'importance?',
                                input: 'range',
                                inputAttributes: {
                                    min: 0,
                                    max: 100,
                                    step: 10
                                },
                                inputValue: 50
                            })
                            if (importance) {
                                const { value: info } = await Swal.fire({
                                    input: 'textarea',
                                    inputPlaceholder: 'Type your message here...',
                                    inputAttributes: {
                                        'aria-label': 'Type your message here'
                                    },
                                    showCancelButton: true
                                })


                                const { value: file } = await Swal.fire({
                                    title: 'Select image',
                                    input: 'file',
                                    showCancelButton: true,
                                    inputAttributes: {
                                        'accept': 'image/hwp/doc/pdf*',
                                        'aria-label': 'Upload your profile picture'
                                    }
                                })
                            }

                            var table = $("#activity");

                            var table_len = $("#activity tr").length;

                            $("#activity").append("<tr><td id='" + table_len + "'>" + new_activity + "</td></tr>");
                        }
                        console.log(select_task);
                        console.log(new_activity);
                    }
                }


            })
            $("#job").off("click").on("click", function () {
                alert(username + "의job table");
            })
            $("#task").off("click").on("click", function () {
                alert(username + "의task table");
            })
            $("#activity").off("click").on("click", function () {
                alert(username + "의activity table");
            })
        })
    </script>

</body>

</html>