<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
<head>
    <title>PMD</title>
    <link type="text/css" rel="stylesheet" href="stylesheet/main.css">
    
 </head>
<body>
<br>
<header>    
    <p><strong>&nbsp;&nbsp;프로젝트 검색</strong>
        <small><span style="float: right;"><%= username %>님 환영합니다.&nbsp;<input id = "logout_btn" type="button" value="로그아웃" onclick="location.href = '/'"></span></small>
    </p>
    
</header>
    <p id = "search">
        <form  action="/search/project" method="POST">            
            &nbsp;&nbsp;&nbsp;&nbsp;프로젝트 명:&nbsp;<input name = "p_name" type="text" placeholder="프로젝트 명">
                &nbsp;|&nbsp;
                담당자 명:&nbsp;<input name="m_name" type="search" placeholder="담당자 명">
                &nbsp;|&nbsp;
                기간:&nbsp;<input name="s_date" type="date">&nbsp;~<input name="e_date" type="date">
                &nbsp;|&nbsp;
                <input type="submit" value="검색">            
        </form>
    </p>
    <iframe src="http://52.55.31.29:3000/search/table" id="customers" scrolling="auto" frameborder="0" width="95%" height="70%">
</iframe>
<br>
<footer>
    
</footer>
<script>

</script>
</body>
</html>
