* {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight: bold;
}

header{
  font-size: 30px;
  margin-left: 20px;
  margin-top: 25px;
}

textarea {
  
  width:80%;
}

form {
  position: absolute;
  top:15%; left:25%;
  background-color: #3dc2ff;
  width:700px;
}

#hr_title {
  border:solid 1px;
}

div {
  margin: 30px;
}

#submit {
  position: relative;
  top : 50px;
  bottom : 30px;
}

.added {
  margin-left:100px;
}