* {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight: bold;
}

header{
  font-size: 30px;
  margin-left: 20px;
  margin-top: 25px;
}

form {
  position: absolute;
  top:15%; left:25%;
  background-color: #3dc2ff;
  width:700px;
}

#hr_title {
  border:solid 1px;
}

div {
  margin: 30px;
}

#submit {
  position: relative;
  top : 50px;
  bottom : 30px;
}

.added {
  margin-left:100px;
}

#t_area{
  height: 250px;
  resize: none;
  width:70%
}
#member{
  display:inline-block;
  table-layout: fixed;
  margin-left: 5px;
  height: 250px;
  width: 25%;
  background-color: white !important;
  
}
th{  
  border-bottom: black solid 1px;
  text-align: center;
  width: 25%;
}

tr:nth-child(even){
  background-color: gray;
}
