
header{
    font-size: 30px;
    border-bottom: black solid 1px;
}
#customers {
    margin-left: 2.5%;
    margin-right:2.5%;
    
  }
  

  #make_pro{
    margin-left: 20px;
  }

  #logout_btn{
    float: right;    
    margin-left: 5px;
    margin-right: 15px;
    height: 30px !important;
    font-size: 15px !important;
  }