
header{
    font-size: 30px;
    border-bottom: black solid 1px;
}
#customers {
    margin-left: 2.5%;
    margin-right:2.5%;
    margin-bottom:2.5%;
  }
  

  #make_pro{
    margin-left: 20px;
  }

